@import "fonts/Gilroy/Gilroy.css";
@import "fonts/Montserrat/Montserrat.css";

* {
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: "Gilroy", "Montserrat";
    font-weight: 300;
    color: #fff;
    background-color: #1E1E1E;
}

.container {
    max-width: 1110px;
    padding: 0 15px;
    margin: 0 auto;
}