.entry {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #3f3f3f;
  position: relative;

  &-form {
    width: 100%;

    .message {
      width: 78%;
      min-height: 40px;
      padding-left: 15px;
      font-family: Gilroy;
      font-size: 16px;
      font-weight: 300;
      color: #fff;
      background-color: transparent;
      overflow: hidden;
      overflow-wrap: break-word;
      resize: none;
      border: none;
      outline: none;
    }
  }



  &-field {
    overflow: hidden;

    .btn {
      position: absolute;
      top: 50%;
      right: 20px;
      transform: translate(0, -50%);
      font-size: 26px;
      color: #57FDBF;
      background-color: transparent;
      border: none;
      cursor: pointer;
    }
  }
}