.messages {
    overflow: auto;
}

.messages::-webkit-scrollbar {
    width: 12px;
}

.messages::-webkit-scrollbar-thumb {
    background-color: #1E1E1E;
    border-radius: 6px;
}

/* Стили для других браузеров (Firefox, Safari) */
.messages {
    scrollbar-width: thin;
}

.messages::-webkit-scrollbar-track {
    background-color: inherit;
}

.messages::-webkit-scrollbar-thumb {
    background-color: #1E1E1E;
    border-radius: 6px;
}